@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');


@theme{
    --color-black: rgba(0, 0, 0, 1);


    --font-manuscrita: "Imperial Script", serif;
    
    --font-Titulo:  "Playfair Display", serif;
   
}